#workspace {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 35px;
	top: 0px;
}

#orders_scrool {
	width: 250px;
	border: 0px;
	bottom: 35px;
}

#orders {
	background-color: #ffe;
}

#warkspace_divider {
	left: 250px;
}

#tables {
	position: absolute;
	left: 255px;
	bottom: 35px;
}

