#workspace {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 35px;
	top: 0px;
}

#orders_scrool {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 250px;
	border: 0px;
	bottom: 0px;
}

#dispatch_scrool {
	position: absolute;
	left:255px;
	top: 0px;
	bottom: 0px;
	width: 250px;
	border: 0px;
}

#orders {
	background-color: #ffc;
}
#dispatch {
	background-color: #ffc;
}

#warkspace_divider {
	left: 250px;
}

#tables {
	position: absolute;
	left: 255px;
	bottom: 35px;
}

.sc-theme .sc-footer .fix_button {
	top: 12px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.dispatch_align {
	position: absolute;
	left: 255px;
	width: 250px;
	padding-right: 10px;
}